.navigation ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navigation ul li {
  padding: 15px;
  margin-right: 10px;
}
.navigation ul li a {
  text-decoration: none;
  color: rgb(68, 65, 65);
}
